.topPicked-title-div {
}

.topPicked-title {
  color: #1c1c1c;
  font-size: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topPicked-title::after {
  content: "";
  height: 1px;
  background: #bacae4;
  flex: 1;
  margin: 0 0 0 0.5em;
}
.topPicked-toggles-div {
  padding: 0px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
