.category-title-div {
  margin: 10px 0px;
}

.category-title {
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
}
.category-title::after {
  content: "";
  height: 1px;
  background: #bacae4;
  flex: 1;
  margin: 0 0 0 0.5em;
}
.categories-div {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 0px 10px;
  margin: 20px 0px;
}
.categories-div::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.categories-div p {
  flex: 0 0 auto;
  margin: 0;
  padding: 14px 35px;
  font-size: 14px;
  border-radius: 14px;
  border: 1px solid #bacae4;
  cursor: pointer;
}
.categories-div p:hover {
  background-color: #ff5c00;
  color: #fff;
}
.categories-div p.active {
  background-color: #ff5c00;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .categories-div p {
    font-size: 12px;
  }
  .categories-div {
    margin: 20px 0px 0px 0px;
  }
}
