
.add-location-title{
    font-family:'Georgia';
}
.deliveryLocation-form h5{
 font-family: 'Georgia';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
color: #141E38;
}

@media screen and (max-width: 768px) {
    .deliveryLocation-switch-text{
        font-size: 15px;
        margin: 5px 0px;
    }
}
    
