.FeedBack4-main-wraper{
    width: 100%;
    max-height: 100vh !important;
  }
  
  .FeedBack4-banner {
    background-image: url("/public/images/fbBannerWide.png");
    /* background-size: cover; */
    background-position:top;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    position: relative;
    z-index: -1;
  }
  .FeedBack4-half-div-wraper {
    /* position: absolute; */
    width: 100%;
    height:80vh;
    bottom: 0 !important;
    padding: 30px 50px 40px 50px;
    margin-top: -160px;
    z-index: 2;
    border-radius: 40px 40px 0px 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .FeedBack4-send-btn {
    width: 50%;
    background-color: #fe6900;
    border-radius: 10px !important;
    border: none;
    color: #ffffff;
    font-family: "Baloo Da 2";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
  }
  .FeedBack4-send-btn a {
    color: #ffffff;
    text-decoration: none;
  }
  .fb4-tab-btns-wraper {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .FeedBack4-tab-items {
    display: flex;
    flex-direction: column;
  
    gap: 15px;
  }
  .fb4-tab-btns-wraper > button {
    width: 50%;
    background-color: transparent;
    border-radius: 10px !important;
    border: 1px solid #97a9c2b0;
    color: #8196b3;
    font-family: "Baloo Da 2";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
  }
  .fb4-avrgtaste-btn-div {
    display: flex;
    justify-content: center;
  }
  .fb4-avrgtaste-btn {
    width: 65%;
    background-color: #fe6900;
    border-radius: 10px !important;
    border: none;
    color: #ffffff;
    font-family: "Baloo Da 2";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .FeedBack4-sugestion-txt-div textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: "Baloo Da 2";
    font-style: normal;
    font-weight: 600;
    background-color: #c0d3ec79;
    font-size: 15px;
    color: #97a9c2f6;
    padding: 15px;
  }
  .FeedBack4-half-div-title, .feedBack-rating-text{
    text-align: center;
  }
  .FeedBack4-rating-text{
    margin-bottom: 0;
    color: #516787;;
  }
  .FeedBack4-half-div-title{
    font-family: "georgia";
    font-weight: 600;
    font-size: 30px;
  
  }
  .FeedBack4-sugestion-txt-div h3 {
    text-align: center;
    font-family: georgia;
    font-weight: 600;
  }
  @media screen and (max-width: 768px) {
    .FeedBack4-send-btn {
      width: 90%;
    }
    .FeedBack4-half-div-wraper{
      gap: 20px;
    }
    .FeedBack4-half-div-title{
      margin-bottom: 30px;
    }
    .FeedBack4-rating-text{
      margin-bottom: -30px;
    }
  }
  @media screen and (max-width: 438px) {
    .rating-tab-img{
      width: 60px;
    }
    .FeedBack4-half-div-wraper{
      padding: 30px 20px 40px 20px;
    }
    .FeedBack4-half-div-title{
      font-size: 25px;
    }
    .fb4-tab-btns-wraper > button{
      font-size: 12px;
    }
    .fb4-avrgtaste-btn{
      font-size: 15px;
    }
  }
  @media screen and (max-width: 300px) {
    .rating-tab-img{
      width: 40px;
    }
    .FeedBack4-half-div-wraper{
      padding: 30px 20px 40px 20px;
    }
    .FeedBack4-half-div-title{
      font-size: 20px;
    }
    .fb4-tab-btns-wraper > button{
      font-size: 12px;
    }
    .fb4-avrgtaste-btn{
      font-size: 15px;
    }
    .FeedBack4-rating-text{
      font-size: 10px;
    }
  }
  
 
  