.atc-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
  background-color: #f5f5f5;
}

.atc-title-div {
  margin: 25px 0px;
}
.atc-title-div p {
  font-family: "Baloo Da 2";
}

.atc-title {
  text-align: center;
  color: #1c1c1c;
  font-size: 22px;
  font-weight: 600;
  font-family: "Georgia";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.atc-title::after {
  content: "";
  height: 1px;
  background: #bacae4;
  flex: 1;
  margin: 0 0 0 0.5em;
}

